@model Buckets.Models.Bucket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bucket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BucketName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BucketName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Income)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Income)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BucketCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BucketCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Outflow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Outflow)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
