@model IEnumerable<Buckets.Models.Bucket>

@{
    ViewData["Title"] = "Index";
}

@*<ul>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Dashboards" asp-action="Index"><i class="fa-solid fa-gauge"></i> Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Buckets" asp-action="Index"><i class="fa-solid fa-bucket"></i> Buckets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="BankAccounts" asp-action="Index"><i class="fa-solid fa-building-columns"></i> Bank Accounts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Bills" asp-action="Index">Bills</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Incomes" asp-action="Index"><i class="fa-solid fa-sack-dollar"></i> Income Sources</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Expenses" asp-action="Index"><i class="fa-solid fa-file-invoice-dollar"></i> Expenses</a>
    </li>
</ul>*@

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BucketName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Income)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BucketCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BucketName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Income)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BucketCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expense)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
