@model Buckets.Models.Dashboard

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dashboard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BucketsTile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BucketsTile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccountsTile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankAccountsTile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillsTile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillsTile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DashboardsTile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DashboardsTile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomeTile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomeTile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseTile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpenseTile)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
