@model IEnumerable<Buckets.Models.Dashboard>

@{
    ViewData["Title"] = "Index";
}


@*<ul>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Dashboards" asp-action="Index"><i class="fa-solid fa-gauge"></i> Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Buckets" asp-action="Index"><i class="fa-solid fa-bucket"></i> Buckets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="BankAccounts" asp-action="Index"><i class="fa-solid fa-building-columns"></i> Bank Accounts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Bills" asp-action="Index">Bills</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Incomes" asp-action="Index"><i class="fa-solid fa-sack-dollar"></i> Income Sources</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Expenses" asp-action="Index"><i class="fa-solid fa-file-invoice-dollar"></i> Expenses</a>
    </li>
</ul>
*@

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BucketsTile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccountsTile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillsTile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DashboardsTile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncomeTile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseTile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BucketsTile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankAccountsTile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillsTile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DashboardsTile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncomeTile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseTile)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
